*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/server/TravelWebService/.vs/TravelWebService/v17/.suo
/server/TravelWebService/obj/Debug/net6.0/apphost.exe
/server/TravelWebService/obj/Debug/net6.0/TravelWebService.assets.cache
/server/TravelWebService/obj/Debug/net6.0/TravelWebService.csproj.AssemblyReference.cache
/server/TravelWebService/obj/Debug/net6.0/TravelWebService.GeneratedMSBuildEditorConfig.editorconfig
/server/TravelWebService/obj/project.assets.json
/server/TravelWebService/obj/project.nuget.cache
/server/TravelWebService/obj/TravelWebService.csproj.nuget.dgspec.json
/server/TravelWebService/obj/TravelWebService.csproj.nuget.g.props
/server/TravelWebService/bin/Debug/net6.0/TravelWebService.dll
/server/TravelWebService/bin/Debug/net6.0/TravelWebService.exe
/server/TravelWebService/bin/Debug/net6.0/TravelWebService.pdb
/server/TravelWebService/obj/Debug/net6.0/ref/TravelWebService.dll
/server/TravelWebService/obj/Debug/net6.0/refint/TravelWebService.dll
/server/TravelWebService/obj/Debug/net6.0/TravelWebService.csproj.CoreCompileInputs.cache
/server/TravelWebService/obj/Debug/net6.0/TravelWebService.csproj.FileListAbsolute.txt
/server/TravelWebService/obj/Debug/net6.0/TravelWebService.dll
/server/TravelWebService/obj/Debug/net6.0/TravelWebService.genruntimeconfig.cache
/server/TravelWebService/obj/Debug/net6.0/TravelWebService.pdb
/server/TravelWebService/.vs/TravelWebService/DesignTimeBuild/.dtbcache.v2
server/TravelWebService/.vs/TravelWebService/v17/.futdcache.v1
